<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd"
         bootstrap="../../vendor/autoload.php"
         cacheDirectory=".phpunit.cache"
         colors="true">
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory>src/Contracts</directory>
        </exclude>
    </source>
    <coverage>
        <report>
            <html outputDirectory="build/coverage" lowUpperBound="70" highLowerBound="80"/>
            <text outputFile="php://stdout" showOnlySummary="true"/>
        </report>
    </coverage>
    <testsuites>
        <testsuite name="ResourceAllocation Package Unit Tests">
            <directory>tests/Unit</directory>
        </testsuite>
    </testsuites>
</phpunit>
